<div class="container col-3 mb-3">
  <div class="card" id="<%= dom_id player %>">
    <div class="card-body">
      <%= link_to player.name, player, class: "text-black", style: "text-decoration:none" %>
    </div>
  </div>
</div>
