<div id="<%= dom_id match %>">
  <p>
    <strong>Players:</strong>
    <%= match.player_1_id %>
  </p>

  <p>
    <strong>P1:</strong>
    <%= match.wins1 %>
  </p>

  <p>
    <strong>P2:</strong>
    <%= match.wins2 %>
  </p>

</div>
